
  <header class="page-header">
    <h1>Dasboard</h1>
  </header>
    <div class="alert alert-primary" role="alert">
        <h4>Total number of products available are = <%= @product_count%></h4>
         <%= link_to 'Product List', [:admin, :products], class: 'btn btn-info' %>
    </div>
    <div class="alert alert-primary" role="alert">
       <h4>Categories count = <%= @category_count%> </h4>
         <%= link_to 'Category list', [:admin, :categories], class: 'btn btn-info' %>
    </div>

  

